<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <div class="flexcol sheet-header-left">
            <div class="character-name"><input class="name" type="text" value="{{actor.name}}" name="name"
                                               placeholder="{{ localize "mythras.labels.name" }}"/></div>
        </div>
        <div class="flexrow sheet-header-right">
            <div class="counters">
                <div class="counter-value">{{ numberFormat state.attributes.experienceModifier.value
                                                           sign=true }}</div>
                <div class="counter-value">{{ state.attributes.healingRate.value }}</div>
                <input class="counter-value" type="number" id="luckPoints" data-dtype="Number"
                       name="system.attributes.luckPoints.current"
                       size="1"
                       value="{{ state.attributes.luckPoints.current }}">
                <div class="counter-value-max">/{{ state.attributes.luckPoints.max }}</div>
                <input class="counter-value" type="number" id="magicPoints" data-dtype="Number"
                       name="system.attributes.magicPoints.current"
                       size="2"
                       value="{{ state.attributes.magicPoints.current }}">
                <div class="counter-value-max">/{{ state.attributes.magicPoints.max }}</div>
                <input class="counter-value center" type="number" id="experienceRolls" data-dtype="Number"
                       name="system.attributes.experienceRolls"
                       size="1"
                       value="{{ state.attributes.experienceRolls }}">

                <label class="counter-label">{{ localize "mythras.labels.attributes.experienceMod" }}</label>
                <label class="counter-label">{{ localize "mythras.labels.attributes.healingRage" }}</label>
                <label class="counter-label span" for="luckPoints">{{ localize
                        "mythras.labels.attributes.luck" }}</label>
                <label class="counter-label span" for="magicPoints">{{ localize
                        "mythras.labels.attributes.magicPoints" }}</label>
                <label class="counter-label" for="experienceRolls">{{ localize
                        "mythras.labels.attributes.experienceRolls" }}</label>

            </div>
            <img src="{{actor.img}}" class="profile-img" data-edit="img" title="{{actor.name}}" height="128" width="128"
                 alt="{{actor.name}}"/>
        </div>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        {{#each tabs}}
            <a class="item" data-tab="{{key}}">{{ localize localizationKey }}</a>
            {{#unless @last}}
                <i class="item ti ti-point-filled"></i>
            {{/unless}}
        {{/each}}
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="character">
            {{> "systems/mythras-scala/templates/parts/sheet/actor/character-sheet-character.hbs" this}}
        </div>

        <div class="tab" data-group="primary" data-tab="equipment">
            Equipment
        </div>

        <div class="tab" data-group="primary" data-tab="combat">
            Combat
        </div>

        <div class="tab" data-group="primary" data-tab="magic">
            Magic
        </div>

        <div class="tab" data-group="primary" data-tab="notes">
            Notes
        </div>

    </section>

</form>
