<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{document.img}}" class="profile-img" data-edit="img" title="{{document.name}}" height="128" width="128"
         alt="{{document.name}}" />
    <div class="header-fields">
      <div class="item-name">
        <input type="text" value="{{document.name}}" name="name" placeholder="{{ localize "mythras.labels.name" }}" />
      </div>
      <div class="base-data">

      </div>
    </div>
  </header>
  <section class="sheet-body">
    {{editor document.system.description target="system.description" button=true editable=editable owner=owner }}
  </section>
</form>
